<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ZoeWorld.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<connectionStrings>
		<!--<add name="dbConnStr" connectionString="Provider= Microsoft.ACE.OLEDB.12.0;Jet OLEDB:DataBase Password='aa';Data Source=E:\home\winform\resource.accdb"/>-->
		<add name="dbConnStr" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=E:\home\winform\ZoeWorld\ZoeWorld\candy.mdb"/>
		<!--<add name="dbConnStr" connectionString="Provider = Microsoft.Jet.OLEDB.4.0; Data Source = E:\home\winform\resource.accdb"/>-->
	</connectionStrings>
 <userSettings>
  <ZoeWorld.Properties.Settings>
   <setting name="psd" serializeAs="String">
    <value>1234567</value>
   </setting>
  </ZoeWorld.Properties.Settings>
 </userSettings>
</configuration>